@inherits WizardStepBase

<EditForm Model="@Wiz.WizardModel.Rooms" OnValidSubmit="GoToNextStep">
    <div class="container">
        <div class="row">
            <div class="col-1 flex-grow-1">
                <p>Included?</p>
            </div>
            <div class="col-6 flex-grow-1">
                <p>Name</p>
            </div>
            <div class="col-1 flex-grow-1">
                <p>Capacity</p>
            </div>
            <div class="col-1 flex-grow-1">
                <p>Max usage</p>
            </div>
            <div class="col-1 flex-grow-1">
                <p>Real Capacity</p>
            </div>
            <div class="col-2 flex-grow-1">
                <p>City</p>
            </div>
        </div>
        @if (Wiz.WizardModel.Rooms.Count > 0)
        {
            @foreach (var room in Wiz.WizardModel.Rooms)
            {
                <div class="row">
                    <div class="col-1 flex-grow-1">
                        <InputCheckbox @bind-Value="room.Chosen"></InputCheckbox>
                    </div>
                    <div class="col-6 flex-grow-1">
                        <p>@room.Name</p>
                    </div>
                    <div class="col-1 flex-grow-1">
                        <p>@room.Capacity</p>
                    </div>
                    <div class="col-1 flex-grow-1">
                        <p>@room.MaxUsage</p>
                    </div>
                    <div class="col-1 flex-grow-1">
                        <p>@room.RealCapacity</p>
                    </div>
                    <div class="col-2 flex-grow-1">
                        <p>@room.City</p>
                    </div>
                </div>
            }
        }
        <div class="row justify-content-center">
            <div class="col-auto ">
                <button type="submit" class="btn btn-primary">Continue</button>
            </div>
        </div>

    </div>
</EditForm>
@code {
    //Lokalen kiezen (lijst met kruisjes zetten + notities plaatsen + yes/no voor extra studenten)

}
