@inherits WizardStepBase
@using Models

@if (_context is not null)
{
    <EditForm Model="_context" OnValidSubmit="NextStep">
        <div class="container">
            <div class="row g-4">
                <div class="col"></div>
                <div class="col">Gent</div>
                <div class="col">Aalst</div>
            </div>
            <div class="row flex-nowrap g-4 mb-2">
                <div class="col-2">SB</div>
                <div class="col-5">
                    <InputSelect @bind-Value="Wiz.WizardModel.RoomChoices.SB" disabled="true">
                            string valueText = value.ToString() + (value.Equals(MeasureTaken.SB) ? "+" : "");
                            <option value="@Wiz.WizardModel.RoomChoices.SB" disabled="@true">@Wiz.WizardModel.RoomChoices.SB</option>
                    </InputSelect>
                </div>
                <div class="col-5">
                    <InputSelect @bind-Value="Wiz.WizardModel.RoomChoices.SB" disabled="true">
                            string valueText = value.ToString() + (value.Equals(MeasureTaken.SB) ? "+" : "");
                            <option value="@Wiz.WizardModel.RoomChoices.SB" disabled="@true">@Wiz.WizardModel.RoomChoices.SB</option>
                    </InputSelect>
                </div>
            </div>
            <div class="row flex-nowrap g-4 mb-2">
                <div class="col-2">Seperated room</div>
                <div class="col-5">
                    <InputSelectComponent T="string" E="string" 
                        @bind-Value="_context.gentSelectedRoom"
                        ValueSource="gentRooms"
                        ToText="r => r"/>
                </div>
                <div class="col-5">
                    <InputSelectComponent T="string" E="string" 
                        @bind-Value="_context.aalstSelectedRoom"
                        ValueSource="aalstRooms"
                        ToText="r => r"/>
                </div>
            </div> 
            <div class="row flex-nowrap g-4 mb-2">
                <div class="col-2">room for TIAO/VC</div>
                <div class="col-5">
                    <InputSelectComponent T="string" E="string" 
                        @bind-Value="_context.gentTIAOVC"
                        ValueSource="gentRooms"
                        ToText="r => r"/>
                </div>
                <div class="col-5">
                    <InputSelect @bind-Value="Wiz.WizardModel.RoomChoices.SB" disabled="true">
                        string valueText = value.ToString() + (value.Equals(MeasureTaken.SB) ? "+" : "");
                        <option value="@Wiz.WizardModel.RoomChoices.SB" disabled="@true">NVT</option>
                    </InputSelect>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto ">
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
            </div>

        </div>
    </EditForm>
}
@code {
    //Chosenrooms instellen

    public IEnumerable<string> aalstRooms = [];
    public IEnumerable<string> gentRooms = [];
    private Context? _context = null;

    private class Context
    {
        public string gentSelectedRoom;
        public string aalstSelectedRoom;
        public string gentTIAOVC;

        public Context(string g1, string a1)
        {
            gentSelectedRoom = g1;
            aalstSelectedRoom = a1;
            gentTIAOVC = g1;
        }

    }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        IEnumerable<ExamRoom> availableExamRooms = Wiz.WizardModel.Rooms.Where(r => r.Chosen);
        aalstRooms = availableExamRooms.Where(r => r.City == City.Aalst).Select(r => r.Name);
        gentRooms = availableExamRooms.Where(r => r.City == City.Gent).Select(r => r.Name);
        _context = new Context(gentRooms.First(), aalstRooms.First());
        Console.WriteLine($"{_context.gentSelectedRoom}");
    }

    private async Task NextStep()
    {
        Wiz.WizardModel.RoomChoices.GentSelectedRoom = Wiz.WizardModel.Rooms.Find(r => r.Name.Equals(_context?.gentSelectedRoom));
        Wiz.WizardModel.RoomChoices.AalstSelectedRoom = Wiz.WizardModel.Rooms.Find(r => r.Name.Equals(_context?.aalstSelectedRoom));
        Wiz.WizardModel.RoomChoices.GentTIAOVC = Wiz.WizardModel.Rooms.Find(r => r.Name.Equals(_context?.gentTIAOVC));
        await GoToNextStep();
    }
}
