@using excel_workflow.Models
@using excel_workflow.Models.Csv.Maps
@inject CsvParsingService Csv
@inherits WizardStepBase

<EditForm Model="@_context" OnValidSubmit="NextStep">
<div class="container">
    @if (_context is not null)
    {
        @foreach (var measure in _context)
        {
        <div class="row">
            <div class="col-8 flex-grow-1 text-end">
                <p>@(_converter.ConvertToString(measure.Measure) ?? "None"):</p>
            </div>
            <div class="col-3 flex-grow-1">
                <InputSelect @bind-Value="measure.Taken" disabled="@measure.Taken.Equals(MeasureTaken.SB)">
                    @foreach (var value in Enum.GetValues<MeasureTaken>())
                    {
                        string valueText = value.ToString() + (value.Equals(MeasureTaken.SB) ? "+" : "");
                        <option value="@value" disabled="@value.Equals(MeasureTaken.SB)">@valueText</option>
                    }
                </InputSelect>
            </div>
        </div> 
        }
    }
    <div class="row justify-content-center">
        <div class="col-auto ">
            <button type="submit" class="btn btn-primary">Continue</button>
        </div>
    </div>

</div>
</EditForm>

@code {
    //Voor elke Measure een MeasureTaken geven (Vanaf hier sidepanel maken met alle studenten van gekozen vak met IOEM maatregel)
    private MeasureConverter _converter = new MeasureConverter();
    public required IEnumerable<Measure> Measures;

    private class Context
    {
        private readonly WizardModel _wizardModel;

        public Context(WizardModel wizardModel, Measure measure)
        {
            _wizardModel = wizardModel;
            Measure = measure;
        }

        public Measure Measure { get; }

        public MeasureTaken Taken
        {
            get => _wizardModel.MeasuresTaken[Measure];
            set => _wizardModel.MeasuresTaken[Measure] = value;
        }
    }

    private List<Context> _context { get; set; } = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Measures = Enum.GetValues<Measure>()
            .AsEnumerable()
            .Where(e => !e.Equals(Measure.None) && Wiz.WizardModel.Students.Values.Any(s => s.Measures.HasFlag(e)));

        _context = Measures
                .Select(m => new Context(Wiz.WizardModel, m))
                .ToList();
    }

    private async Task NextStep()
    {
        await GoToNextStep();
    }
}
