@using excel_workflow.Models
@inject WizardState Wiz

<table class="table">
    <thead>
        <tr>
            <th>Lokaal</th>
            <th>Nummer</th>
            <th>Naam</th>
            <th>Groep</th>
            <th>IOEM?</th>
            <th>Extra tijd?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (student, olod, room) in students)
        {
            <tr>
                <td class="text-center">@(room.Name ?? "No room")</td>
                <td class="text-center">@student.StudentNumber</td>
                <td>@student.Name</td>
                <td>@olod.Subgroup</td>
                <td class="text-center">@(student.isIOEM() ? "Yes" : "No")</td>
                <td class="text-center">
                    @(Wiz.WizardModel.ExamType is ExamType et
                                    ? (student.HasExtraTime(et) ? "Yes" : "No")
                                    : "No")
                </td>
            </tr>
        }
    </tbody>
</table>

@code{
    [Parameter] public IEnumerable<(Student,Olod, ExamRoom)> students { get; set; }
    [Parameter] public City city { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }  

} 